{% extends 'base.html' %}

{% block head %} 

    <title> Markteplaces </title>

{% endblock %}

{% block body %}

    <h1> Markteplaces </h1>

    {% for item in list %}
        <ul>
            <li> <a href='/categories/{{ item.lower() }}'> {{ item }} </a> </li>
        </ul>
    {% endfor %}

    {% block back %}{% endblock %}

    <p>add a new marketplace:</p>

    <form action="/add_mkt">
        <input type="text" name="marketplace" placeholder="new marketplace" />
        <input type="submit" value="ADD" />
    </form>

    {% if success %}
        <p>New Markteplace, {{ mkt }} was successfully CREATED</p>
    {% endif %}

{% endblock %}
